*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./background.jpg);
    background-size: cover;
}
form {
    text-align: center;
    width: 400px;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(30px);
}
form h1{
    font-size: 40px;
}
form ion-icon{
    cursor: pointer;
    font-size: 30px;
}
.input-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: 2px solid white;
    margin: 30px 0px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-30px);
}
.input-box label{
    transition: .3s;
    user-select: none;
    position: absolute;
}
.input-box input{
    background: none;
    outline: none;
    border: none;
    width: 75%;
    height: 25px;
    z-index: 2;
    font-size: 20px;
    color: white;
}
.icon{
    transform: rotate(-135deg);
}
.light{
    display: none;
    position: absolute;
    width: 90%;
    height: 25px;
    left: 0;
    bottom: 2px;
    background-color: white;
    border-radius: 4px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.checkbox{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.checkbox div{
    display: flex;
    font-size: 17px;
    align-items: start;
}
.checkbox input{
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 1px 5px 0px 0px;
}
.checkbox label,.checkbox h4{
    cursor: pointer;
}
form button{
    position: relative;
    width: 80%;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    margin: 15px 0px;
    border: 2px solid white;
    font-size: 18px;
    background: none;
    transition: .5s;
    overflow: hidden;
}
form button::before,form button::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 100%;
    top: 0;
    border-radius: 20px;
    transition: .5s;
    z-index: -1;
}
form button::before{
    left: 0;
}
form button::after{
    right: 0;
}
form button:hover::before,form button:hover::after{
    width: 60%;
}
form button:hover{
    color: black;
}
.Register-box{
    margin-top: 15px;
    font-size: 18px;
}
.Register-box h5{
    cursor: pointer;
}